* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#container {
    width: 650px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: space-between;
}
.squares {
    border: 1px solid black;
    background-color: white;
    flex: 1 1 auto;
    width: 12%;
}
  